<div id="header">
	<div class="container">
		<div class="row">
			<div class="cl-lg-12 pull-right">
				<h1>Andrew Stroup{aloop}</h1>
				<h2>enginerd. maker. innovator.</h2>
			</div>
		</div>
	</div>
</div>
<!--INTRO-->
<div id="intro">
    <div class="container">
    	<div class="row">
    		<br/>
    		<br/>
    		<div class="col-lg-4 col-offset-8 float-right center">
	        	<h2><strong>Learn more</strong><br/>
	        		<span class="icon-stack">
	        			<i class="icon-circle icon-stack-base icon-dark"></i>
	        			<span class="nav">
	        				<a href="#second" title="Next Section"><i class="icon-chevron-down first icon-large icon-light"></i></a>
	        			</span>
	        		</span>
        		</h2>
	        </div>
	    </div>
    </div>
</div>
<!--DESCRIPTION-->
<div id="second">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 center">
				<h2><i class="icon-laptop icon-4x icon-border"></i></h2>
				<br/>
				<br/>
				<h2>en&middot;gi&middot;nerd<br/>[en-j<em>uh</em>-<strong>nurd</strong>]</h2>
				<h3>an engineer who is<br/>self aware of his nerdiness<br/> and affinity to computers.</h3>
			</div>
			<div class="col-lg-4 center">
				<h2><i class="icon-wrench icon-4x icon-border"></i></h2>
				<br/>
				<br/>
				<h2>mak&middot;er<br/>[<strong>mey</strong>-ker]</h2>
				<h3>a person who loves to<br/>create things in their<br/>spare time.</h3>
			</div>
			<div class="col-lg-4 center">
				<h2><i class="icon-rocket icon-4x icon-border"></i></h2>
				<br/>
				<br/>
				<h2>in&middot;no&middot;vat&middot;or<br/>[<strong>in</strong>-<em>uh</em>-veyt-or]</h2>
				<h3>to introduce something new;<br/>make changes in anything<br/>already established.</h3>
			</div>
		</div>
		<div class="row pull-right" id="second-last">
    		<span class="icon-stack sub">
    			<i class="icon-circle sub icon-stack-base icon-dark"></i>
    			<span class="nav">
    				<a href="#third" title="Next Section"><i class="icon-chevron-down sub icon-large icon-light"></i></a>
    			</span>
    		</span>
        </div>
	</div>
</div>
<!--ENGINEERING-->
<div id="third">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-2"></div>
    		<div class="col-lg-7">
    			<h2 id="complex-quote"><i class="icon-quote-left icon-3x pull-left icon-muted"></i> solving complex problems with multidisciplinary solutions.</h2>
    		</div>
		</div>
		<div class="row pull-right" id='third-last'>
    		<span class="icon-stack sub">
    			<i class="icon-circle sub icon-stack-base icon-light"></i>
    			<span class="nav">
    				<a href="#fourth" title="Next Section"><i class="icon-chevron-down sub icon-large icon-dark"></i></a>
    			</span>
    		</span>
        </div>
	</div>
</div>
<!--PROJECTS-->
<div id="fourth">
    <div class="container">
    	<div class="row">
		  <div class="col-lg-3">
		    <div class="thumbnail projects">
		      <%= image_tag src="dfi.gif", :id => "dfi"%>
		      <div class="caption">
		        <h3>DFI</h3>
		        <p>Led a project team on an international fluid power consulting project.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-lg-3">
		    <div class="thumbnail projects">
		      <%= image_tag src="california-screamin.gif", :id => "cali"%>
		      <div class="caption">
		        <h3>California Screamin'</h3>
		        <p>Fluid power consulting project for Disneyland Resorts.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-lg-3">
		    <div class="thumbnail projects">
		      <%= image_tag src="EFV.gif", :id => "efv"%>
		      <div class="caption">
		        <h3>USMC EFV</h3>
		        <p>Managed two concurrent project teams for the Expeditionary Fighting Vehicle.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-lg-3">
		    <div class="thumbnail projects">
		      <%= image_tag src="dbf-flight.gif", :id=>"dbf"%>
		      <div class="caption">
		        <h3>Design, Build, Fly</h3>
		        <p>Chief engineer on a competitive UAV design challenge.</p>
		      </div>
		    </div>
		  </div>
		</div>
		<br/>
		<br/>
	    <div class="row">
	        <div class="col-lg-12">
	            <div id="projects">
	                <ul class="sequence-canvas">
	                	<i class="icon-chevron-left icon-4x sequence-prev" alt="Previous Frame"></i>
	                	<i class="icon-chevron-right icon-4x sequence-next" alt="Next Frame"></i>
	                	<li class="animate-in">
	                        <%= image_tag src="oil-rig.png", :alt => "DFI oil rig", :class=>"dfi-oil-rig"%>
	                        <h4 class="dfi-prime-text">Headed a $100,000, international fluid power (hydraulic) consulting project for a Canadian based oil rigging company that involved</h4>
	                        <ul class="dfi-sub-text">
								<li>- on-site analysis and review of multiple fluid power systems, designs, components, and issues</li>
								<li>- dynamic modeling and simulation of systems and subsystems</li>
								<li>- presentation of test results and recommendations</li>
								<li>- implementation of solutions and follow-on validation</li>
							</ul>
	                    </li>
	                    <li>
	                        <%= image_tag src="disney-logo.png", :alt => "Disneyland Resorts Logo", :class=>"disney-logo"%>
	                        <h4 class="disney-prime-text">Supported a fluid power (pneumatic) consulting project for Disneyland Resorts, requiring</h4>
	                        <ul class="disney-sub-text">
								<li>- collaboration with the Disneyland Resorts imagineering team on design and test plans, spanning dynamic modeling and simulation, test components, and reports</li>
								<li>- on-site component, sub-system, and system testing</li>
								<li>- presentation of findings and recommendations to the Disneyland Resorts engineering team</li>
							</ul>
	                    </li>
	                    <li id="efv-animate">
	                        <%= image_tag src="efv/efv-main.png", :alt => "EFV Main", :class=>"efv-pic-main"%>
	                        <%= image_tag src="efv/efv-comp-1-small.png", :alt => "EFV Comp 1", :class=>"efv-pic-comp-small-1"%>
	                        <%= image_tag src="efv/efv-comp-2-small.png", :alt => "EFV Comp 2", :class=>"efv-pic-comp-small-2"%>
	                        <%= image_tag src="efv/efv-comp-3-small.png", :alt => "EFV Comp 3", :class=>"efv-pic-comp-small-3"%>
	                        <%= image_tag src="efv/efv-comp-4-small.png", :alt => "EFV Comp 4", :class=>"efv-pic-comp-small-4"%>
	                        <h4 class="efv-prime-text">Led two concurrent project teams contracted by General Dynamics Amphibious Systems in support of the United States Marine Corps Expeditionary Fighting Vehicle program, involving</h4>
	                        <ul class="efv-sub-text">
								<li>- on-site inspection and DFMEA</li>
								<li>- dynamic modeling and simulation of fluid power (hydraulic and pneumatic) components, sub-systems, and systems</li>
								<li>- design, fabrication, and validation of multiple test platforms and tests to characterize components, sub-systems, and systems</li>
								<li>- presentation of findings and recommendations for implementation into system design</li>
							</ul>
	                    </li>

	                    <li>
	                        <%= image_tag src="AIAAlogo.png", :alt => "AIAA Logo", :class=>"aiaa-logo"%>
	                        <h4 class="aiaa-prime-text">1st place out of 54 international teams, Oklahoma State University chief engineer for the American Institute of Aeronatuics and Astronautics Design, Build, Fly competition. A cooperative team effort requiring</h4>
	                        <ul class="aiaa-sub-text">
								<li>- conceptual platform design to meet specified mission crtiera</li>
								<li>- development of manufacturing techniques for rapid prototyping and testing</li>
								<li>- execution of performance-rated flights against domestic international teams</li>
							</ul>
	                    </li>
	                    
	                </ul>
	                <!-- <ul class="project-pagination">
	                	<li><%= image_tag src="modern/tn-model1.png", alt: "DFI Story"%></li>
	                	<li><%= image_tag src="modern/tn-model1.png", alt: "DFI Story"%></li>
	                	<li><%= image_tag src="modern/tn-model1.png", alt: "DFI Story"%></li>
	                	<li><%= image_tag src="modern/tn-model1.png", alt: "DFI Story"%></li>
	                </ul> -->
	            </div>
	        </div>
	    </div>
	    <div class="row pull-right" id='fourth-last'>
    		<span class="icon-stack sub">
    			<i class="icon-circle sub icon-stack-base icon-dark"></i>
    			<span class="nav">
    				<a href="#fifth" title="Next Section"><i class="icon-chevron-down sub icon-large icon-light"></i></a>
    			</span>
    		</span>
        </div>
    </div> <!--.story-->
</div>
<!--WELDING-->
<div id="fifth">
	<div class="container">
    	<div class="row">
    		<div class="col-lg-8">
    			<blockquote><h2 id="welding">Welding is a fabrication or sculptural process that joins materials, usually metals or thermoplastics, by causing coalescence.<small>Wikipedia</small></h2></blockquote>
    		</div>
		</div>
		<div class="row">
			<div class="col-lg-12 pull-right">
				<blockquote class="pull-right"><h3 id="welding">Hot glue gun for adults.</h3><small>ME</small></blockquote>
			</div>
		</div>
		<div class="row pull-right" id='fifth-last'>
    		<span class="icon-stack sub">
    			<i class="icon-circle sub icon-stack-base icon-light"></i>
    			<span class="nav">
    				<a href="#sixth" title="Next Section"><i class="icon-chevron-down sub icon-large icon-dark"></i></a>
    			</span>
    		</span>
        </div>
    </div>
</div>
<!--FOUNDERY-->
<div id="sixth">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2><em>Welcome to the</em></h2>
				<h1 id="foundery-title">Baltimore Foundery</h1>
				<h3 id="foundery-subtitle">{casting makers for great things}</h3>
				<br/>
				<p>Baltimore Foundery was founded around the principles of community, education, and innovation. Our mission is to provide access to industrial grade tools and education, with the goal of sparking innovation within the Baltimore community. We are a non-profit organization (501(c)(3) filed). We’re located between Fells Point and Harbor East, in the old Kavanaugh building on South Central Ave.<p>
					<br/>
					<address>
				  <strong>The Foundery, Inc.</strong><br>
				  207 South Central Avenue<br>
				  Baltimore, MD 21230<br>
				  <a href="http://bmorefoundery.com" target="_blank">http://bmorefoundery.com</a>
				</address>
				<p><strong>Founders:</strong> Jason Hardebeck, Corey Fleischer, and me!</p>
			</div>
			<div class="col-lg-5 col-offset-1" id="gmap">
				<div id="map-canvas"></div>
			</div>
		</div>
		<div class="row pull-right" id='sixth-last'>
    		<span class="icon-stack sub">
    			<i class="icon-circle sub icon-stack-base icon-light"></i>
    			<span class="nav">
    				<a href="#anchor" title="Next Section"><i class="icon-chevron-down sub icon-large icon-dark"></i></a>
    			</span>
    		</span>
        </div>
    </div>
</div>
<!--CK LOGO-->
<div id="seventh">
	<div class="bg">
	</div>
</div>
<!--CK INFO-->
<div id="eighth">
	<span id="anchor"></span>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<a><%= image_tag src="ck-working.png", id:"ck-working",alt:"CommonKey"%></a>
			</div>
			<div class="col-lg-5 col-offset-1">
				<h3>Your small business password manager.</h3>
				<p>CommonKey is a software as a service password manager, tailored for growing companies. In today's world, companies rely heavily on online solutions to help them grow and succeed. All these online solutions have one thing in common, a username and password, the keys to their company. CommonKey is designed to enable companies to securely store login credentials and share access with team members through an intuitive user interface.</p>
				<br/>
				<button type="button" class="btn btn-info" href="http://commonkey.com" target="_blank">Learn More</button><button type="button" class="btn btn-success pull-right" href="https://beta.commonkey.com" target="_blank">FREE Beta Sign Up!</button>
				<br/>
				<br/>
				<p><strong>ABOUT:</strong> founded late 2012, CommonKey was built to solve a big small business problem and have some fun in the process!<br/><br/>My role? Chief Everything Officer.</p>
			</div>
		</div>
		<div class="row pull-right" id='eighth-last'>
			<span class="icon-stack sub">
				<i class="icon-circle sub icon-stack-base icon-dark"></i>
				<span class="nav">
					<a href="#ninth" title="Next Section"><i class="icon-chevron-down sub icon-large icon-light"></i></a>
				</span>
			</span>
	    </div>
	</div>
</div>
<!-- TBBT -->
<div id="ninth">
	<div class="bg">
	
		<div class="bg-tbbt">
			<div class="container">
				<div class="row pull-right" id='ninth-last'>
		    		<span class="icon-stack sub">
		    			<i class="icon-circle sub icon-stack-base icon-light"></i>
		    			<span class="nav">
		    				<a href="#tenth" title="Next Section"><i class="icon-chevron-down sub icon-large icon-dark"></i></a>
		    			</span>
		    		</span>
		        </div>
					
			</div>
		</div>
	</div>
</div>
<!-- FOOTER -->
<div id="tenth">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<p><strong>Built with:</strong></p>
				<ul>
					<li>- Ruby on Rails</li>
					<li>- Twitter Bootstrap 3</li>
					<li>- Parallax</li>
					<li>- Sequence.js</li>
					<li>- Google MAP API</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<p><strong>Contact:</strong></p>
				<ul>
					<li><a target="_blank" href="https://twitter.com/stroupaloop" title="Follow @stroupaloop on Twitter"><i class="icon-twitter icon-large"></i></a></li>
					<li><a target="_blank" href="https://www.facebook.com/pages/Andrew-Stroup/125661194293149" title="Lile me on Facebook"><i class="icon-facebook icon-large"></i></a></li>
	      			<li><a target="_blank" href="http://www.linkedin.com/pub/andrew-stroup/20/236/317" title="Connect with me on LinkedIn"><i class="icon-linkedin icon-large"></i></a></li>
	      			<li><a target="_blank" href="https://github.com/stroupaloop" title="Star me"><i class="icon-github icon-large"></i></a></li>
	      			<li><a target="_blank" href="mailto:stroupaloop@gmail.com" title="Email me"><i class="icon-envelope-alt icon-large"></i></a></li>
	      		</ul>
	      	</div>
		</div>
	</div>
</div>
